<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Quotes - CFPB Design System</title>
  <meta name="description" content="CFPB's design system">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/design-system/dist/css/main.css">
  <script>
      // Confirm availability of JS and remove no-js class from html
      var docElement = document.documentElement;
      docElement.className = docElement.className.replace(/(^|\s)no-js(\s|$)/, '$1$2');
  </script>
</head>
<body class="t-component">
  <div class="body-wrapper">
    <a class="skip-link u-visually-hidden focusable" href="#main">Skip to Main Content</a>
<header role="banner" class="site-header">
  <div class="wrapper">
    <div class="title content-l_col content-l_col-1-3">
      <h1 class="title_heading">
        <a class="title-link" href="/design-system/">
          <span class="demi">CFPB</span> Design System
        </a>
      </h1>
    </div>
    <nav class="global-nav content-l_col content-l_col-2-3">
      <ul class="global-nav_list">
        
          <li class="nav-list-item">
            <a class="" href="/design-system/getting-started">
            Getting Started
            </a>
            </li>
        
          <li class="nav-list-item">
            <a class="" href="/design-system/foundation">
            Foundation
            </a>
            </li>
        
          <li class="nav-list-item">
            <a class="active" href="/design-system/components">
            Components
            </a>
            </li>
        
          <li class="nav-list-item">
            <a class="" href="/design-system/templates">
            Templates
            </a>
            </li>
        
      </ul>
    </nav>
  </div> <!-- /.wrapper -->
</header>

    <main class="content content__1-3" id="main" role="main">
  <div class="content_bar"></div>
  <div class="content_wrapper">
    <aside class="content_sidebar">
        
    <!-- todo: remove from sidebar -->
    

    <!-- todo: remove from sidebar -->
    

    <!-- todo: remove from sidebar -->
    
        
        
        <ul>        
            
            <li>
                
                    Alerts
                
                
                    <ul>
                        
                        <li>
                            
                            <a href="/design-system/components/modals">Modals</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/notifications">Notifications</a>
                            
                        </li>
                        
                    </ul>
                

            </li>
            
            <li>
                
                    Content layouts
                
                
                    <ul>
                        
                        <li>
                            
                            <a href="/design-system/components/contact-information">Contact information</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/expandables">Expandables</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/featured-content-modules">Featured content modules</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/full-width-text">Full width text</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/heroes">Heroes</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/info-unit-groups">Info unit groups</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/introductions">Introductions</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/sidebars-prefooters">Sidebars/prefooters</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/wells">Wells</a>
                            
                        </li>
                        
                    </ul>
                

            </li>
            
            <li>
                
                    Core utilities
                
                
                    <ul>
                        
                        <li>
                            
                            <a href="/design-system/components/atomic-components">Atomic components</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/blocks">Blocks</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/dividers">Dividers</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/grid">Grid</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/images">Images</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/media-queries">Media queries</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/utilities">Utilities</a>
                            
                        </li>
                        
                    </ul>
                

            </li>
            
            <li>
                
                    Data visualization
                
                
                    <ul>
                        
                        <li>
                            
                            <a href="/design-system/components/bar-charts">Bar charts</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/line-charts">Line charts</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/maps">Maps</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/pie-charts">Pie charts</a>
                            
                        </li>
                        
                    </ul>
                

            </li>
            
            <li>
                
                    Forms
                
                
                    <ul>
                        
                        <li>
                            
                            <a href="/design-system/components/buttons">Buttons</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/checkboxes">Checkboxes</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/dropdowns">Dropdowns </a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/e-mail-signup-forms%20">E-mail signup forms </a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/feedback-forms">Feedback forms</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/fieldsets">Fieldsets</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/multi-selects">Multi-selects</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/radio-buttons">Radio buttons</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/range-sliders">Range sliders</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/text-inputs">Text inputs</a>
                            
                        </li>
                        
                    </ul>
                

            </li>
            
            <li>
                
                    Navigation
                
                
                    <ul>
                        
                        <li>
                            
                            <a href="/design-system/components/filterable-list-control-panels">Filterable list control panels</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/left-hand-navigation">Left hand navigation</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/megamenu">Megamenu</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/pagination">Pagination</a>
                            
                        </li>
                        
                    </ul>
                

            </li>
            
            <li>
                
                    Tables
                
                
                    <ul>
                        
                        <li>
                            
                            <a href="/design-system/components/default-tables">Default tables</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/sortable-tables">Sortable tables</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/responsive-tables">Responsive tables</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/snippet-lists">Snippet lists</a>
                            
                        </li>
                        
                    </ul>
                

            </li>
            
            <li>
                
                    Text
                
                
                    <ul>
                        
                        <li>
                            
                            <a href="/design-system/components/dates">Dates</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/definition-lists">Definition lists</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/headers">Headers</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/heading-hierarchy">Heading hierarchy</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/helper-text">Helper text</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/labels">Labels</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/legends">Legends</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/lists">Lists</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/links">Links</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/paragraphs">Paragraphs</a>
                            
                        </li>
                        
                        <li>
                            
                            <a href="/design-system/components/quotes">Quotes</a>
                            
                        </li>
                        
                    </ul>
                

            </li>
            
        </ul>
        
    

    <!-- todo: remove from sidebar -->
    


    </aside>
        <section class="content_main">

    <div class="component-header">
        <h2>
            Quotes
            <div class="a-badge status-Released" title="This component has not yet been migrated to the Design System">
                Released
            </div>
        </h2>
        <div id="toggle-code">
            <a class="a-btn" id="toggle-code-btn" href="#">
                <span class="hide-button">
                    Hide code &amp; specs
                    <span class="a-btn_icon a-btn_icon__on-right">
                        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 784.5 1200" class="cf-icon-svg"><path d="M719.5 515H65c-35.9 0-65 29.1-65 65s29.1 65 65 65h654.5c35.9 0 65-29.1 65-65s-29.1-65-65-65z"></path></svg>
                    </span>
                </span>
                <span class="show-button">
                    Show code &amp; specs
                    <span class="a-btn_icon a-btn_icon__on-right">
                        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 784.5 1200" class="cf-icon-svg"><path d="M719.5 515H457.3V252.7c0-35.9-29.1-65-65-65s-65 29.1-65 65V515H65c-35.9 0-65 29.1-65 65s29.1 65 65 65h262.3v262.3c0 35.9 29.1 65 65 65s65-29.1 65-65V645h262.3c35.9 0 65-29.1 65-65s-29.2-65-65.1-65z"></path></svg>
                    </span>
                </span>
            </a>
        </div>
    </div>

    
        <section id="intro" class="u-mt20 u-mb20">
            <p>Use a pull quote to highlight excerpts from the current work. This is not to be confused with <code class="highlighter-rouge">blockquote</code> which quotes from an external work. Since a pull quote is an excerpt and repeats content from the article you should use the <code class="highlighter-rouge">aside</code> element.</p>

        </section>
    

    <ul class="m-list m-list__horizontal u-mb20">
        <li class="m-list_item">
            <a class="m-list_link" href="#variations">Variations</a>
        </li>
        <li class="m-list_item">
            <a class="m-list_link" href="#usage">Usage</a>
        </li>
        <li class="m-list_item">
            <a class="m-list_link" href="#accessibility">Accessibility</a>
        </li>
        <li class="m-list_item">
            <a class="m-list_link" href="#research">Research</a>
        </li>
    </ul>

    <section class="sticky-header">
        <h3 id="variations">Variations</h3>
        
        <div class="u-mt30">
            <!-- Name -->
            <h4>Default pull quote</h4>

            <!-- Description -->
            


            <!-- Live code example -->
            
            <div class="live-code-example">
                <aside class="m-pull-quote">
    <p class="m-pull-quote_body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Cum corrupti tempora nam nihil qui mollitia consectetur
        corporis nemo culpa dolorum!
    </p>
    <footer>
        <cite class="m-pull-quote_citation">
            Author Name
        </cite>
    </footer>
</aside>
            </div>
            

            <div class="govuk-tabs u-mt30" data-module="tabs" data-toggle-code>
                <h5 class="govuk-tabs__title">
                Code snippets
                </h5>

                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#html-code-snippet-1">
                        HTML                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#jinja-code-snippet-1">
                        Jinja
                        </a>
                    </li>
                </ul>

                <!-- HTML snippet -->
                <section class="govuk-tabs__panel" id="html-code-snippet-1">
                    
                    <div class="variation-code-snippet">
                        <h6 class="variation-code-snippet-title">HTML</h6>
                        
                            <div class="source-code">
                                <pre><code class="language-html">&lt;aside class="m-pull-quote"&gt;
    &lt;p class="m-pull-quote_body"&gt;
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Cum corrupti tempora nam nihil qui mollitia consectetur
        corporis nemo culpa dolorum!
    &lt;/p&gt;
    &lt;footer&gt;
        &lt;cite class="m-pull-quote_citation"&gt;
            Author Name
        &lt;/cite&gt;
    &lt;/footer&gt;
&lt;/aside&gt;</code></pre>
                            </div>
                        
                    </div>
                    
                </section>

                <!-- Jinja snippet -->
                <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="jinja-code-snippet-1">
                    <div class="variation-jinja-code-snippet">
                        <h6 class="variation-jinja-code-snippet-title">Jinja</h6>
                        

                    </div>
                </section>

            </div>
<!-- .govuk-tabs -->

            

            

                
                

                
                
                

                

                

            

        
        <div class="u-mt30">
            <!-- Name -->
            <h4>Large pull quote</h4>

            <!-- Description -->
            


            <!-- Live code example -->
            
            <div class="live-code-example">
                <aside class="m-pull-quote m-pull-quote__large">
    <div class="m-pull-quote_body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Cum corrupti tempora nam nihil qui mollitia consectetur
        corporis nemo culpa dolorum!
    </div>
    <footer>
        <cite class="m-pull-quote_citation">
            Author Name
        </cite>
    </footer>
</aside>
            </div>
            

            <div class="govuk-tabs u-mt30" data-module="tabs" data-toggle-code>
                <h5 class="govuk-tabs__title">
                Code snippets
                </h5>

                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#html-code-snippet-2">
                        HTML                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#jinja-code-snippet-2">
                        Jinja
                        </a>
                    </li>
                </ul>

                <!-- HTML snippet -->
                <section class="govuk-tabs__panel" id="html-code-snippet-2">
                    
                    <div class="variation-code-snippet">
                        <h6 class="variation-code-snippet-title">HTML</h6>
                        
                            <div class="source-code">
                                <pre><code class="language-html">&lt;aside class="m-pull-quote m-pull-quote__large"&gt;
    &lt;div class="m-pull-quote_body"&gt;
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Cum corrupti tempora nam nihil qui mollitia consectetur
        corporis nemo culpa dolorum!
    &lt;/div&gt;
    &lt;footer&gt;
        &lt;cite class="m-pull-quote_citation"&gt;
            Author Name
        &lt;/cite&gt;
    &lt;/footer&gt;
&lt;/aside&gt;</code></pre>
                            </div>
                        
                    </div>
                    
                </section>

                <!-- Jinja snippet -->
                <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="jinja-code-snippet-2">
                    <div class="variation-jinja-code-snippet">
                        <h6 class="variation-jinja-code-snippet-title">Jinja</h6>
                        

                    </div>
                </section>

            </div>
<!-- .govuk-tabs -->

            

            

                
                

                
                
                

                

                

            

        
    

    
        <section class="sticky-header">
            <h3 id="usage">Usage</h3>
            <p>
                

            </p>
        </section>
    

    
        <section class="sticky-header">
            <h3 id="accessibility">Accessibility</h3>
            <p>
                

            </p>
        </section>
    

    
        <section class="sticky-header">
            <h3 id="research">Research</h3>
            <p>
                

            </p>
        </section>
    

    <div class="content-l">
        

        
    </div>
<!-- .content-l -->

<!-- .content_main -->

        <div class="o-editor_link" id="edit-page">
            <a class="a-btn" href="/design-system/admin/#/collections/components/entries/quotes" title="Edit this page in Netlify CMS">
                <span class="a-btn_text">Edit this page</span>
                <span class="a-btn_icon"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 833.4 1200" class="cf-icon-svg"><path d="M233 203.1c-27.2-27.2-71.8-27.2-99 0L20.4 316.7c-27.2 27.2-27.2 71.8 0 99l89.7 89.7 212.7-212.7-89.8-89.6zM832.6 992.7l-48.6-216c-3.4-15.3-14.9-36.5-26-48.6l-1.8-1.8-121.8-121.9-110.6-110.6-165.7-165.7-54.8 54.8 400 400 21.4-21.4c5.3 6.4 11.9 18.9 13.5 25.6l21.4 95.2-60 60-95.2-21.4c-6.7-1.5-19.2-8.2-25.6-13.5l89.2-89.2-400-400-122.6 122.6 165.7 165.7 110.6 110.6 121.8 121.8 1.8 1.8c12.1 11.1 33.3 22.6 48.6 26l215.9 48.6c2.2.5 4.3.7 6.2.7 12.6.1 19.8-9.4 16.6-23.3z"></path></svg></span>
            </a>
        </div>
        <div class="o-editor_link" id="add-page">
            <a class="a-btn" href="/design-system/admin/#/collections/components/new" title="Add a new Design System page in Netlify CMS">
                <span class="a-btn_text">Add new page</span>
                <span class="a-btn_icon"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 784.5 1200" class="cf-icon-svg"><path d="M719.5 515H457.3V252.7c0-35.9-29.1-65-65-65s-65 29.1-65 65V515H65c-35.9 0-65 29.1-65 65s29.1 65 65 65h262.3v262.3c0 35.9 29.1 65 65 65s65-29.1 65-65V645h262.3c35.9 0 65-29.1 65-65s-29.2-65-65.1-65z"></path></svg></span>
            </a>
        </div>
  </div>


    <footer class="footer" role="contentinfo">
    <div class="wrapper">
        
    </div>
</footer>

  </div>
  <script src="/design-system/dist/js/design-system.js" charset="utf-8"></script>
</section></section>
</div></main>
</div>
</body>
</html>
